<div class="container">
    <div class="myServices">
        <h3 appHighlight class="businessCardTitle">Front-End Development</h3>
        <ul>
            <li>School Courses:<br>1. Web Development Foundations<br>2. Front End Web Development<br>3. JavaScript Programming </li>
            <li>Certificates:<br>1. Responsive Web Design<br>2. Introduction to Front-End Development
            </li>
            <li>Both Web Development Foundations and Front End Web Development enhanced my understanding of HTML, CSS, Vanilla JS and web accessibility.</li>
            <li>The JavaScript Programming course goes deep into JavaScript development covering frameworks/libraries like jQuery, Angular.js and React.js</li>
        </ul>
    </div>
    <div class="myServices">
        <h3 appHighlight class="businessCardTitle">Databases</h3>
        <ul>
            <li>School Courses:<br></li>
            <li>Certificates:<br>1. Intro to Data Engineering<br>2. Python for Data Science, AI, and Development</li>
            <li></li>
        </ul>
    </div>
    <div class="myServices">
        <h3 appHighlight class="businessCardTitle">Back-End Development</h3>
        <ul>
            <li>School Courses:<br></li>
            <li>Certificates:<br></li>
            <li></li>
        </ul>
    </div>
    <div class="myServices">
        <h3 appHighlight class="businessCardTitle">Mobile Development</h3>
        <ul>
            <li>School Courses:<br></li>
            <li>Certificates:<br></li>
            <li></li>
        </ul>
    </div>
</div>