<div class="myServices">
    <h3 [appHighlight]="color" class="businessCardTitle">My Services</h3>
    <ul *ngFor="let bankingService of bankingServices" [ngSwitch]="bankingService.category">
        <li [appHighlight]="color" *ngSwitchCase="'loans'">
            {{ bankingService.type}}
        </li>
        <li [appHighlight]="color" *ngSwitchCase="'reports'">
            {{ bankingService.type}}
        </li>
        <li [appHighlight]="color" *ngSwitchCase="'financial_accounts'">
            {{ bankingService.type}}
        </li>
        <li [appHighlight]="color" *ngSwitchDefault>
            {{ bankingService.type}}
        </li>
    </ul>
</div>