
.myServices {
    padding: 20px;
    border: 2px solid #464545;
    width: 30%;
    font-size: 20px;
    background: linear-gradient(#707070, #464545);
    border-radius: 25px;
    color: white;
    box-shadow: 9px 8px 10px #000000;
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.businessCardTitle {
    text-align: center;
}

ul {
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
