<div class="resume">
    <div class="personalInfo">
        <h1>Jenna Hall</h1>
        <address>Anchorage, AK<br>(907) 406-3730<br>jhal990&#64;wgu.edu</address>
    </div>
    <div class="summary">
        <h2>Summary</h2>
        <p>Motivated software engineering student with hands-ons experience in collaborative settings. Interested in full stack development with a focus on the back end. I have take courses and completed projects in Python and JavaScript aswell as personal projects in Java, C#, JavaScript and Python. </p>
    </div>
    <div class="education">
        <h2>Education</h2>
        <p>WESTERN GOVERNORS UNIVERSITY <span class="educationDate">10/2024 - Present</span><br>
            Bachelor of Science, Software Engineering<br>
            Relevant Coursework: Statistics, Networking and Security, Web Development Foundations, Scripting and Programming, Algebra, Front-End Web Development, Intro to Python, JavaScript Programming
        </p>
    </div>
    <div class="experience">
        <h2>Experience</h2>
        <p>CWResources, Technical Operations Manager <span class="employmentDates">03/2023 - 09/2023</span></p>
        <ul>
            <li>Improved data accessibility and security by creating and maintaining a PostgreSQL database to streamline internal workflows.</li>
            <li>Integrated and administered enterprise systems like UKG/UltiPro and Vehicle GPS platforms.</li>
            <li>Handled administration and troubleshooting of employee management systems.</li>
        </ul>
        <p>U.S. Army, C.B.R.N. Specialist / HR Administrative Assistant<span class="employmentDates">06/2020 - 03/2023</span></p>
        <ul>
            <li>Conducted routine airborne operations, jumps, and missions for reconnaissance.</li>
            <li>Trained over 400 personnel on cybersecurity, data security, HR, and financial compliance.</li>
            <li>Transitioned to Human Resources department: streamlined adminsitrative workflows, supported onboarding and assisted specialists.</li>
        </ul>
    </div>

</div>
