* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h2 {
    border-bottom: thin solid hsla(0, 0%, 0%, 0.836);
}

p {
    text-align: center;
}

.resume {
    border: 5px solid black;
    padding: 0 2vw;
    width: 75%;
    margin: 3vw auto;
}

.personalInfo {
    text-align: center;
    width: 105%;
}
.personalInfo address {
    font-weight: bold;
}

.educationDate, .employmentDates {
    font-style: italic;
    font-weight: bold;
}

.experience p {
    font-weight: bold;
}
