<div class="resume">
    <div class="personalInfo">
        <h1>{{bankerName}}</h1>
        <address>{{bankerCity}}, {{bankerState}}<br>{{bankerPhone}}<br>{{bankerEmail}}</address>
    </div>
    <div class="summary">
        <h2>Summary</h2>
        <p>{{summary}}</p>
    </div>
    <div class="education">
        <h2>Education</h2>
        <p>{{school}}<span class="educationDate">{{schoolDates}}</span></p>
        <p>{{schoolDegree}}</p>
    </div>
    <div class="experience">
        <h2>Experience</h2>
        <p> {{employerName}}, {{jobTitle}} <span class="employmentDates">{{employmentDates}}</span></p>
        <ul> 
            <li>Improved data accessibility and security by creating and maintaining a PostgreSQL database to streamline internal workflows.</li>
            <li>Integrated and administered enterprise systems like UKG/UltiPro and Vehicle GPS platforms.</li>
            <li>Handled administration and troubleshooting of employee management systems.</li>
        </ul>
    </div>
</div>